.jumbotron{
    background-image: url(assets/images/lightspeed-jumbotron-background.jpeg);
    color: #feda4a;
}

body{ background-image: url(assets/images/Endor-Battle.jpeg);
}

.startGame {
    color: #feda4a
}